TODO
- see the FMP.py file

In [1]:
import requests
import pandas as pd
from pathlib import Path
from FMP import Company
from matplotlib import pyplot as plt
import datetime as dt
import yfinance as yf
from pandas_datareader import data as pdr

key_path = Path().home()/'desktop'/'FinancialModellingPrep_API.txt'
with open(key_path) as file:
    api_key = file.read()
    

yf.pdr_override()

In [2]:
a = Company('AAPL', api_key=api_key, data='online')

[*********************100%***********************]  1 of 1 completed
C:\Users\John\Desktop\Git\investment-tools\Financial Modelling Prep Library\Company Financial Data\AAPL\annual already exists.
[*********************100%***********************]  1 of 1 completed
There were 34/38 values in ebitdaratio that exceed the 0.05 error tolerance.
There were 0/38 values in grossProfitRatio that exceed the 0.05 error tolerance.
There were 0/38 values in operatingIncomeRatio that exceed the 0.05 error tolerance.
There were 0/38 values in incomeBeforeTaxRatio that exceed the 0.05 error tolerance.
There were 2/38 values in netIncomeRatio that exceed the 0.05 error tolerance.

In [6]:
a.stock_price_data['low'] < a.stock_price_data['high']

date
1989-09-30    False
1990-09-30     True
1991-09-30     True
1992-09-30     True
1993-09-30     True
1994-09-30     True
1995-09-29     True
1996-09-27     True
1997-09-26     True
1998-09-25     True
1999-09-25     True
2000-09-30     True
2001-09-29     True
2002-09-28     True
2003-09-27     True
2004-09-25     True
2005-09-24     True
2006-09-30     True
2007-09-29     True
2008-09-27     True
2009-09-26     True
2010-09-25     True
2011-09-24     True
2012-09-29     True
2013-09-28     True
2014-09-27     True
2015-09-26     True
2016-09-24     True
2017-09-30     True
2018-09-29     True
2019-09-28     True
2020-09-26     True
2021-09-25     True
2022-09-24     True
dtype: bool

In [ ]:
type(a.balance_sheets['date'].iloc[0])

In [ ]:
a.balance_sheets['date'][0].split()

In [ ]:
sorted(a.income_statements.columns)

In [ ]:
sorted(a.cash_flow_statements.columns)

In [ ]:
a.ratio_errors.sum()

In [ ]:
a.income_statements['eps']
x = a.income_statements.index[-10:]
y = a.income_statements['eps'][-10:]
plt.plot(x,y)

In [ ]:
a.calculated_ratios['operatingProfitMargin'].iloc[0]

In [ ]:
import datetime as dt

In [ ]:
dt.date(*[int(i) for i in a.balance_sheets['date'].iloc[0].split('-')])

In [ ]:
dt.date(1985, 9, 30) < dt.date(1986, 9, 30)

In [ ]:
"1985-09-30 00:00:00-04:00".split()[0]

In [ ]:
pd.Series([i for i in range(10)]).iloc[0]

In [ ]:
a.stock_price_data['date'] = a.stock_price_data.index.date

In [ ]:
y1 = a.stock_price_data['date'][5]
y2 = a.stock_price_data['date'][12]
a.stock_price_data[(a.stock_price_data['date'] > y1) & (a.stock_price_data['date']< y2)]

In [3]:
data = [[i for i in range(4)] for j in range(4)]

In [4]:
pd.DataFrame(data)

   0  1  2  3
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  1  2  3