TODO
- see the FMP.py file

In [1]:
import requests
import pandas as pd
from pathlib import Path
from FMP import Company
from matplotlib import pyplot as plt
import datetime as dt
import yfinance as yf
from pandas_datareader import data as pdr

key_path = Path().home()/'desktop'/'FinancialModellingPrep_API.txt'
with open(key_path) as file:
    api_key = file.read()
    

yf.pdr_override()

In [3]:
a = Company('AAPL', api_key=api_key, data='online')

[*********************100%***********************]  1 of 1 completed
                               Open      High       Low     Close  Adj Close  \
Date
1989-10-02 00:00:00-04:00  0.397321  0.399554  0.390625  0.396205   0.314776
1989-10-03 00:00:00-04:00  0.395089  0.397321  0.385045  0.389509   0.309457
1989-10-04 00:00:00-04:00  0.390625  0.398438  0.388393  0.395089   0.313890
1989-10-05 00:00:00-04:00  0.397321  0.415179  0.395089  0.406250   0.322757
1989-10-06 00:00:00-04:00  0.412946  0.430804  0.410714  0.429688   0.341378
...                             ...       ...       ...       ...        ...
1990-09-24 00:00:00-04:00  0.281250  0.281250  0.265625  0.270089   0.217054
1990-09-25 00:00:00-04:00  0.272321  0.274554  0.261161  0.267857   0.215261
1990-09-26 00:00:00-04:00  0.267857  0.272321  0.265625  0.265625   0.213467
1990-09-27 00:00:00-04:00  0.267857  0.272321  0.250000  0.252232   0.202704
1990-09-28 00:00:00-04:00  0.254464  0.258929  0.243304  0.258929   0.208086

                              Volume        date
Date
1989-10-02 00:00:00-04:00  137401600  1989-10-02
1989-10-03 00:00:00-04:00  170497600  1989-10-03
1989-10-04 00:00:00-04:00  159174400  1989-10-04
1989-10-05 00:00:00-04:00  245280000  1989-10-05
1989-10-06 00:00:00-04:00  361704000  1989-10-06
...                              ...         ...
1990-09-24 00:00:00-04:00  138499200  1990-09-24
1990-09-25 00:00:00-04:00  157953600  1990-09-25
1990-09-26 00:00:00-04:00   94136000  1990-09-26
1990-09-27 00:00:00-04:00  142340800  1990-09-27
1990-09-28 00:00:00-04:00  176041600  1990-09-28

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1990-10-01 00:00:00-04:00  0.263393  0.276786  0.261161  0.272321   0.218848
1990-10-02 00:00:00-04:00  0.276786  0.285714  0.263393  0.264509   0.212570
1990-10-03 00:00:00-04:00  0.265625  0.265625  0.238839  0.241071   0.193734
1990-10-04 00:00:00-04:00  0.238839  0.250000  0.234375  0.250000   0.200910
1990-10-05 00:00:00-04:00  0.241071  0.256696  0.241071  0.250000   0.200910
...                             ...       ...       ...       ...        ...
1991-09-23 00:00:00-04:00  0.446429  0.453125  0.439732  0.441964   0.358840
1991-09-24 00:00:00-04:00  0.441964  0.449777  0.430804  0.448661   0.364277
1991-09-25 00:00:00-04:00  0.448661  0.450893  0.439732  0.450893   0.366089
1991-09-26 00:00:00-04:00  0.448661  0.448661  0.437500  0.446429   0.362465
1991-09-27 00:00:00-04:00  0.446429  0.453125  0.435268  0.437500   0.355215

                              Volume        date
Date
1990-10-01 00:00:00-04:00  155657600  1990-10-01
1990-10-02 00:00:00-04:00  270984000  1990-10-02
1990-10-03 00:00:00-04:00  268240000  1990-10-03
1990-10-04 00:00:00-04:00  213494400  1990-10-04
1990-10-05 00:00:00-04:00   99489600  1990-10-05
...                              ...         ...
1991-09-23 00:00:00-04:00   87662400  1991-09-23
1991-09-24 00:00:00-04:00  106097600  1991-09-24
1991-09-25 00:00:00-04:00   54465600  1991-09-25
1991-09-26 00:00:00-04:00   71220800  1991-09-26
1991-09-27 00:00:00-04:00   62809600  1991-09-27

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1991-09-30 00:00:00-04:00  0.439732  0.444196  0.437500  0.441964   0.358840
1991-10-01 00:00:00-04:00  0.439732  0.457589  0.437500  0.453125   0.367902
1991-10-02 00:00:00-04:00  0.462054  0.462054  0.441964  0.444196   0.360652
1991-10-03 00:00:00-04:00  0.446429  0.446429  0.424107  0.426339   0.346153
1991-10-04 00:00:00-04:00  0.428571  0.435268  0.424107  0.430804   0.349779
...                             ...       ...       ...       ...        ...
1992-09-23 00:00:00-04:00  0.410714  0.424107  0.406250  0.424107   0.347442
1992-09-24 00:00:00-04:00  0.421875  0.426339  0.412946  0.412946   0.338298
1992-09-25 00:00:00-04:00  0.412946  0.415179  0.404018  0.406250   0.332813
1992-09-28 00:00:00-04:00  0.401786  0.401786  0.390625  0.399554   0.327327
1992-09-29 00:00:00-04:00  0.397321  0.406250  0.392857  0.400670   0.328241

                              Volume        date
Date
1991-09-30 00:00:00-04:00   63201600  1991-09-30
1991-10-01 00:00:00-04:00  131376000  1991-10-01
1991-10-02 00:00:00-04:00   17987200  1991-10-02
1991-10-03 00:00:00-04:00  181003200  1991-10-03
1991-10-04 00:00:00-04:00   79374400  1991-10-04
...                              ...         ...
1992-09-23 00:00:00-04:00  123972800  1992-09-23
1992-09-24 00:00:00-04:00  125652800  1992-09-24
1992-09-25 00:00:00-04:00  137468800  1992-09-25
1992-09-28 00:00:00-04:00  149520000  1992-09-28
1992-09-29 00:00:00-04:00  157270400  1992-09-29

[254 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1992-09-30 00:00:00-04:00  0.401786  0.406250  0.397321  0.402902   0.330070
1992-10-01 00:00:00-04:00  0.399554  0.402902  0.395089  0.395089   0.323669
1992-10-02 00:00:00-04:00  0.397321  0.399554  0.383929  0.390625   0.320012
1992-10-05 00:00:00-04:00  0.386161  0.390625  0.370536  0.388393   0.318184
1992-10-06 00:00:00-04:00  0.390625  0.401786  0.381696  0.399554   0.327327
...                             ...       ...       ...       ...        ...
1993-09-23 00:00:00-04:00  0.227679  0.227679  0.218750  0.220982   0.182998
1993-09-24 00:00:00-04:00  0.223214  0.225446  0.218750  0.223214   0.184846
1993-09-27 00:00:00-04:00  0.223214  0.225446  0.216518  0.220982   0.182998
1993-09-28 00:00:00-04:00  0.220982  0.223214  0.216518  0.220982   0.182998
1993-09-29 00:00:00-04:00  0.216518  0.222098  0.212054  0.213170   0.176529

                              Volume        date
Date
1992-09-30 00:00:00-04:00  100049600  1992-09-30
1992-10-01 00:00:00-04:00  122729600  1992-10-01
1992-10-02 00:00:00-04:00  113545600  1992-10-02
1992-10-05 00:00:00-04:00  264958400  1992-10-05
1992-10-06 00:00:00-04:00  113444800  1992-10-06
...                              ...         ...
1993-09-23 00:00:00-04:00  130950400  1993-09-23
1993-09-24 00:00:00-04:00   76574400  1993-09-24
1993-09-27 00:00:00-04:00  113176000  1993-09-27
1993-09-28 00:00:00-04:00   94550400  1993-09-28
1993-09-29 00:00:00-04:00  236745600  1993-09-29

[253 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1993-09-30 00:00:00-04:00  0.214286  0.214286  0.205357  0.208705   0.172831
1993-10-01 00:00:00-04:00  0.203125  0.205357  0.200893  0.203125   0.168210
1993-10-04 00:00:00-04:00  0.202009  0.205357  0.196429  0.203125   0.168210
1993-10-05 00:00:00-04:00  0.205357  0.214286  0.205357  0.209821   0.173755
1993-10-06 00:00:00-04:00  0.212054  0.214286  0.208705  0.210938   0.174681
...                             ...       ...       ...       ...        ...
1994-09-23 00:00:00-04:00  0.302455  0.308036  0.302455  0.303013   0.254613
1994-09-26 00:00:00-04:00  0.302455  0.308036  0.300223  0.303013   0.254613
1994-09-27 00:00:00-04:00  0.301339  0.304688  0.297991  0.302455   0.254144
1994-09-28 00:00:00-04:00  0.303571  0.306920  0.300223  0.302455   0.254144
1994-09-29 00:00:00-04:00  0.301339  0.306920  0.297991  0.304688   0.256020

                              Volume        date
Date
1993-09-30 00:00:00-04:00  274904000  1993-09-30
1993-10-01 00:00:00-04:00  335988800  1993-10-01
1993-10-04 00:00:00-04:00  192841600  1993-10-04
1993-10-05 00:00:00-04:00  176310400  1993-10-05
1993-10-06 00:00:00-04:00  175280000  1993-10-06
...                              ...         ...
1994-09-23 00:00:00-04:00  132876800  1994-09-23
1994-09-26 00:00:00-04:00  141702400  1994-09-26
1994-09-27 00:00:00-04:00  109088000  1994-09-27
1994-09-28 00:00:00-04:00   81267200  1994-09-28
1994-09-29 00:00:00-04:00  109379200  1994-09-29

[253 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1994-09-30 00:00:00-04:00  0.304688  0.308036  0.300223  0.300781   0.252737
1994-10-03 00:00:00-04:00  0.300223  0.301339  0.290179  0.295759   0.248517
1994-10-04 00:00:00-04:00  0.296875  0.303571  0.294643  0.301339   0.253206
1994-10-05 00:00:00-04:00  0.300223  0.340402  0.297991  0.338170   0.284154
1994-10-06 00:00:00-04:00  0.333705  0.334682  0.321429  0.323661   0.271962
...                             ...       ...       ...       ...        ...
1995-09-22 00:00:00-04:00  0.329241  0.332589  0.324777  0.330915   0.281202
1995-09-25 00:00:00-04:00  0.341518  0.341657  0.333705  0.334961   0.284640
1995-09-26 00:00:00-04:00  0.337054  0.338170  0.331473  0.333705   0.283573
1995-09-27 00:00:00-04:00  0.334821  0.334821  0.310268  0.323661   0.275038
1995-09-28 00:00:00-04:00  0.325893  0.338170  0.325893  0.337054   0.286419

                              Volume        date
Date
1994-09-30 00:00:00-04:00   71702400  1994-09-30
1994-10-03 00:00:00-04:00  129595200  1994-10-03
1994-10-04 00:00:00-04:00  162388800  1994-10-04
1994-10-05 00:00:00-04:00  709800000  1994-10-05
1994-10-06 00:00:00-04:00  526915200  1994-10-06
...                              ...         ...
1995-09-22 00:00:00-04:00  398641600  1995-09-22
1995-09-25 00:00:00-04:00  315212800  1995-09-25
1995-09-26 00:00:00-04:00  250902400  1995-09-26
1995-09-27 00:00:00-04:00  451236800  1995-09-27
1995-09-28 00:00:00-04:00  331184000  1995-09-28

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1995-09-29 00:00:00-04:00  0.339286  0.341518  0.329241  0.332589   0.282624
1995-10-02 00:00:00-04:00  0.337054  0.343750  0.334821  0.335938   0.285470
1995-10-03 00:00:00-04:00  0.340402  0.343750  0.331473  0.335938   0.285470
1995-10-04 00:00:00-04:00  0.327009  0.330357  0.321429  0.324777   0.275986
1995-10-05 00:00:00-04:00  0.323661  0.327009  0.320313  0.325893   0.276934
...                             ...       ...       ...       ...        ...
1996-09-20 00:00:00-04:00  0.208705  0.209821  0.203125  0.204241   0.174099
1996-09-23 00:00:00-04:00  0.204241  0.204241  0.199777  0.199777   0.170294
1996-09-24 00:00:00-04:00  0.199777  0.204241  0.199777  0.200893   0.171245
1996-09-25 00:00:00-04:00  0.200893  0.202009  0.196429  0.199777   0.170294
1996-09-26 00:00:00-04:00  0.199777  0.200893  0.198661  0.199777   0.170294

                              Volume        date
Date
1995-09-29 00:00:00-04:00  283416000  1995-09-29
1995-10-02 00:00:00-04:00  392000000  1995-10-02
1995-10-03 00:00:00-04:00  289822400  1995-10-03
1995-10-04 00:00:00-04:00  266772800  1995-10-04
1995-10-05 00:00:00-04:00  244070400  1995-10-05
...                              ...         ...
1996-09-20 00:00:00-04:00  149150400  1996-09-20
1996-09-23 00:00:00-04:00   45763200  1996-09-23
1996-09-24 00:00:00-04:00  143785600  1996-09-24
1996-09-25 00:00:00-04:00  109043200  1996-09-25
1996-09-26 00:00:00-04:00  103286400  1996-09-26

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1996-09-27 00:00:00-04:00  0.198661  0.199777  0.197545  0.199219   0.169818
1996-09-30 00:00:00-04:00  0.197545  0.199777  0.197545  0.198103   0.168867
1996-10-01 00:00:00-04:00  0.196429  0.220982  0.196429  0.219866   0.187418
1996-10-02 00:00:00-04:00  0.210938  0.219866  0.206473  0.210938   0.179807
1996-10-03 00:00:00-04:00  0.210938  0.212054  0.199777  0.199777   0.170294
...                             ...       ...       ...       ...        ...
1997-09-19 00:00:00-04:00  0.198103  0.198103  0.194196  0.195871   0.166964
1997-09-22 00:00:00-04:00  0.197545  0.205915  0.196429  0.203683   0.173623
1997-09-23 00:00:00-04:00  0.198661  0.198661  0.193638  0.194196   0.165536
1997-09-24 00:00:00-04:00  0.193638  0.194196  0.190848  0.191964   0.163634
1997-09-25 00:00:00-04:00  0.190290  0.194196  0.187500  0.188616   0.160780

                              Volume        date
Date
1996-09-27 00:00:00-04:00   81569600  1996-09-27
1996-09-30 00:00:00-04:00   85444800  1996-09-30
1996-10-01 00:00:00-04:00  539246400  1996-10-01
1996-10-02 00:00:00-04:00  276819200  1996-10-02
1996-10-03 00:00:00-04:00  227718400  1996-10-03
...                              ...         ...
1997-09-19 00:00:00-04:00   94931200  1997-09-19
1997-09-22 00:00:00-04:00  200368000  1997-09-22
1997-09-23 00:00:00-04:00  200536000  1997-09-23
1997-09-24 00:00:00-04:00  222432000  1997-09-24
1997-09-25 00:00:00-04:00  223384000  1997-09-25

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1997-09-26 00:00:00-04:00  0.191964  0.195871  0.188616  0.190290   0.162207
1997-09-29 00:00:00-04:00  0.193638  0.198661  0.192522  0.196987   0.167915
1997-09-30 00:00:00-04:00  0.196429  0.199219  0.193638  0.193638   0.165061
1997-10-01 00:00:00-04:00  0.193638  0.194196  0.190848  0.192243   0.163871
1997-10-02 00:00:00-04:00  0.191406  0.196429  0.190848  0.195871   0.166964
...                             ...       ...       ...       ...        ...
1998-09-18 00:00:00-04:00  0.321987  0.328125  0.317522  0.328125   0.279700
1998-09-21 00:00:00-04:00  0.318638  0.329799  0.315290  0.329799   0.281126
1998-09-22 00:00:00-04:00  0.331473  0.335938  0.324777  0.330357   0.281602
1998-09-23 00:00:00-04:00  0.332589  0.342634  0.326451  0.342076   0.291592
1998-09-24 00:00:00-04:00  0.338170  0.353237  0.337054  0.343750   0.293019

                              Volume        date
Date
1997-09-26 00:00:00-04:00  208320000  1997-09-26
1997-09-29 00:00:00-04:00  167238400  1997-09-29
1997-09-30 00:00:00-04:00  140571200  1997-09-30
1997-10-01 00:00:00-04:00  130468800  1997-10-01
1997-10-02 00:00:00-04:00  135408000  1997-10-02
...                              ...         ...
1998-09-18 00:00:00-04:00  305076800  1998-09-18
1998-09-21 00:00:00-04:00  295870400  1998-09-21
1998-09-22 00:00:00-04:00  257936000  1998-09-22
1998-09-23 00:00:00-04:00  287918400  1998-09-23
1998-09-24 00:00:00-04:00  482843200  1998-09-24

[251 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1998-09-25 00:00:00-04:00  0.340960  0.349888  0.335938  0.345982   0.294921
1998-09-28 00:00:00-04:00  0.354911  0.358817  0.339286  0.348772   0.297299
1998-09-29 00:00:00-04:00  0.348772  0.357143  0.340402  0.352679   0.300630
1998-09-30 00:00:00-04:00  0.345982  0.350446  0.339286  0.340402   0.290165
1998-10-01 00:00:00-04:00  0.328125  0.339286  0.315848  0.318638   0.271613
...                             ...       ...       ...       ...        ...
1999-09-20 00:00:00-04:00  0.687500  0.715402  0.686384  0.705915   0.601734
1999-09-21 00:00:00-04:00  0.653460  0.654018  0.616071  0.618304   0.527053
1999-09-22 00:00:00-04:00  0.622768  0.639509  0.616211  0.627790   0.535139
1999-09-23 00:00:00-04:00  0.635045  0.636161  0.562500  0.565290   0.481863
1999-09-24 00:00:00-04:00  0.565848  0.598354  0.562500  0.579799   0.494231

                               Volume        date
Date
1998-09-25 00:00:00-04:00   228289600  1998-09-25
1998-09-28 00:00:00-04:00   405417600  1998-09-28
1998-09-29 00:00:00-04:00   305132800  1998-09-29
1998-09-30 00:00:00-04:00   167182400  1998-09-30
1998-10-01 00:00:00-04:00   370216000  1998-10-01
...                               ...         ...
1999-09-20 00:00:00-04:00   456668800  1999-09-20
1999-09-21 00:00:00-04:00  3357558400  1999-09-21
1999-09-22 00:00:00-04:00  1123169600  1999-09-22
1999-09-23 00:00:00-04:00  1143755200  1999-09-23
1999-09-24 00:00:00-04:00  1179875200  1999-09-24

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1999-09-27 00:00:00-04:00  0.592634  0.595982  0.546317  0.547433   0.466642
1999-09-28 00:00:00-04:00  0.549107  0.553571  0.512835  0.532366   0.453798
1999-09-29 00:00:00-04:00  0.537946  0.546875  0.517857  0.527344   0.449517
1999-09-30 00:00:00-04:00  0.531808  0.573103  0.529018  0.565290   0.481863
1999-10-01 00:00:00-04:00  0.554688  0.557478  0.531250  0.551060   0.469733
...                             ...       ...       ...       ...        ...
2000-09-25 00:00:00-04:00  0.941964  0.991071  0.929688  0.955357   0.814363
2000-09-26 00:00:00-04:00  0.952009  0.977679  0.917411  0.918527   0.782969
2000-09-27 00:00:00-04:00  0.924107  0.941964  0.861607  0.873884   0.744914
2000-09-28 00:00:00-04:00  0.880580  0.960938  0.859375  0.955357   0.814363
2000-09-29 00:00:00-04:00  0.503348  0.517857  0.453125  0.459821   0.391960

                               Volume        date
Date
1999-09-27 00:00:00-04:00   948192000  1999-09-27
1999-09-28 00:00:00-04:00  1414963200  1999-09-28
1999-09-29 00:00:00-04:00   657283200  1999-09-29
1999-09-30 00:00:00-04:00   908084800  1999-09-30
1999-10-01 00:00:00-04:00   614790400  1999-10-01
...                               ...         ...
2000-09-25 00:00:00-04:00   435551200  2000-09-25
2000-09-26 00:00:00-04:00   290936800  2000-09-26
2000-09-27 00:00:00-04:00   402259200  2000-09-27
2000-09-28 00:00:00-04:00   979585600  2000-09-28
2000-09-29 00:00:00-04:00  7421640800  2000-09-29

[257 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
2000-10-02 00:00:00-04:00  0.476563  0.477679  0.419643  0.433036   0.369128
2000-10-03 00:00:00-04:00  0.445313  0.446429  0.396205  0.398438   0.339636
2000-10-04 00:00:00-04:00  0.399554  0.424107  0.390625  0.421875   0.359614
2000-10-05 00:00:00-04:00  0.419643  0.437500  0.392857  0.393973   0.335830
2000-10-06 00:00:00-04:00  0.405134  0.409598  0.375000  0.396205   0.337732
...                             ...       ...       ...       ...        ...
2001-09-24 00:00:00-04:00  0.287679  0.300714  0.284821  0.293750   0.250398
2001-09-25 00:00:00-04:00  0.288214  0.289643  0.274107  0.277500   0.236546
2001-09-26 00:00:00-04:00  0.282321  0.283750  0.266607  0.270536   0.230610
2001-09-27 00:00:00-04:00  0.272321  0.281250  0.271429  0.276964   0.236089
2001-09-28 00:00:00-04:00  0.280536  0.284107  0.274821  0.276964   0.236089

                               Volume        date
Date
2000-10-02 00:00:00-04:00  2424788800  2000-10-02
2000-10-03 00:00:00-04:00  2038120000  2000-10-03
2000-10-04 00:00:00-04:00  1466024000  2000-10-04
2000-10-05 00:00:00-04:00   873006400  2000-10-05
2000-10-06 00:00:00-04:00   612656800  2000-10-06
...                               ...         ...
2001-09-24 00:00:00-04:00   294537600  2001-09-24
2001-09-25 00:00:00-04:00   374404800  2001-09-25
2001-09-26 00:00:00-04:00   493796800  2001-09-26
2001-09-27 00:00:00-04:00   322240800  2001-09-27
2001-09-28 00:00:00-04:00   365108800  2001-09-28

[247 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
2001-10-01 00:00:00-04:00  0.276607  0.285536  0.271964  0.277500   0.236546
2001-10-02 00:00:00-04:00  0.275536  0.282679  0.265714  0.268750   0.229087
2001-10-03 00:00:00-04:00  0.266964  0.274286  0.264821  0.267500   0.228022
2001-10-04 00:00:00-04:00  0.274107  0.290179  0.267679  0.283571   0.241721
2001-10-05 00:00:00-04:00  0.275000  0.288393  0.267679  0.288214   0.245679
...                             ...       ...       ...       ...        ...
2002-09-23 00:00:00-04:00  0.263571  0.267143  0.258036  0.265179   0.226043
2002-09-24 00:00:00-04:00  0.257143  0.264643  0.257143  0.261429   0.222847
2002-09-25 00:00:00-04:00  0.262321  0.270893  0.261607  0.266607   0.227261
2002-09-26 00:00:00-04:00  0.269643  0.271250  0.259821  0.262500   0.223760
2002-09-27 00:00:00-04:00  0.258750  0.265179  0.258571  0.262857   0.224064

                              Volume        date
Date
2001-10-01 00:00:00-04:00  208208000  2001-10-01
2001-10-02 00:00:00-04:00  235883200  2001-10-02
2001-10-03 00:00:00-04:00  683043200  2001-10-03
2001-10-04 00:00:00-04:00  401122400  2001-10-04
2001-10-05 00:00:00-04:00  342686400  2001-10-05
...                              ...         ...

[*********************100%***********************]  1 of 1 completed
                               Open      High       Low     Close  Adj Close  \
Date
1989-10-02 00:00:00-04:00  0.397321  0.399554  0.390625  0.396205   0.314776
1989-10-03 00:00:00-04:00  0.395089  0.397321  0.385045  0.389509   0.309457
1989-10-04 00:00:00-04:00  0.390625  0.398438  0.388393  0.395089   0.313890
1989-10-05 00:00:00-04:00  0.397321  0.415179  0.395089  0.406250   0.322757
1989-10-06 00:00:00-04:00  0.412946  0.430804  0.410714  0.429688   0.341378
...                             ...       ...       ...       ...        ...
1990-09-24 00:00:00-04:00  0.281250  0.281250  0.265625  0.270089   0.217054
1990-09-25 00:00:00-04:00  0.272321  0.274554  0.261161  0.267857   0.215261
1990-09-26 00:00:00-04:00  0.267857  0.272321  0.265625  0.265625   0.213467
1990-09-27 00:00:00-04:00  0.267857  0.272321  0.250000  0.252232   0.202704
1990-09-28 00:00:00-04:00  0.254464  0.258929  0.243304  0.258929   0.208086

                              Volume        date
Date
1989-10-02 00:00:00-04:00  137401600  1989-10-02
1989-10-03 00:00:00-04:00  170497600  1989-10-03
1989-10-04 00:00:00-04:00  159174400  1989-10-04
1989-10-05 00:00:00-04:00  245280000  1989-10-05
1989-10-06 00:00:00-04:00  361704000  1989-10-06
...                              ...         ...
1990-09-24 00:00:00-04:00  138499200  1990-09-24
1990-09-25 00:00:00-04:00  157953600  1990-09-25
1990-09-26 00:00:00-04:00   94136000  1990-09-26
1990-09-27 00:00:00-04:00  142340800  1990-09-27
1990-09-28 00:00:00-04:00  176041600  1990-09-28

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1990-10-01 00:00:00-04:00  0.263393  0.276786  0.261161  0.272321   0.218848
1990-10-02 00:00:00-04:00  0.276786  0.285714  0.263393  0.264509   0.212570
1990-10-03 00:00:00-04:00  0.265625  0.265625  0.238839  0.241071   0.193734
1990-10-04 00:00:00-04:00  0.238839  0.250000  0.234375  0.250000   0.200910
1990-10-05 00:00:00-04:00  0.241071  0.256696  0.241071  0.250000   0.200910
...                             ...       ...       ...       ...        ...
1991-09-23 00:00:00-04:00  0.446429  0.453125  0.439732  0.441964   0.358839
1991-09-24 00:00:00-04:00  0.441964  0.449777  0.430804  0.448661   0.364277
1991-09-25 00:00:00-04:00  0.448661  0.450893  0.439732  0.450893   0.366089
1991-09-26 00:00:00-04:00  0.448661  0.448661  0.437500  0.446429   0.362465
1991-09-27 00:00:00-04:00  0.446429  0.453125  0.435268  0.437500   0.355215

                              Volume        date
Date
1990-10-01 00:00:00-04:00  155657600  1990-10-01
1990-10-02 00:00:00-04:00  270984000  1990-10-02
1990-10-03 00:00:00-04:00  268240000  1990-10-03
1990-10-04 00:00:00-04:00  213494400  1990-10-04
1990-10-05 00:00:00-04:00   99489600  1990-10-05
...                              ...         ...
1991-09-23 00:00:00-04:00   87662400  1991-09-23
1991-09-24 00:00:00-04:00  106097600  1991-09-24
1991-09-25 00:00:00-04:00   54465600  1991-09-25
1991-09-26 00:00:00-04:00   71220800  1991-09-26
1991-09-27 00:00:00-04:00   62809600  1991-09-27

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1991-09-30 00:00:00-04:00  0.439732  0.444196  0.437500  0.441964   0.358839
1991-10-01 00:00:00-04:00  0.439732  0.457589  0.437500  0.453125   0.367901
1991-10-02 00:00:00-04:00  0.462054  0.462054  0.441964  0.444196   0.360652
1991-10-03 00:00:00-04:00  0.446429  0.446429  0.424107  0.426339   0.346153
1991-10-04 00:00:00-04:00  0.428571  0.435268  0.424107  0.430804   0.349778
...                             ...       ...       ...       ...        ...
1992-09-23 00:00:00-04:00  0.410714  0.424107  0.406250  0.424107   0.347442
1992-09-24 00:00:00-04:00  0.421875  0.426339  0.412946  0.412946   0.338298
1992-09-25 00:00:00-04:00  0.412946  0.415179  0.404018  0.406250   0.332813
1992-09-28 00:00:00-04:00  0.401786  0.401786  0.390625  0.399554   0.327327
1992-09-29 00:00:00-04:00  0.397321  0.406250  0.392857  0.400670   0.328241

                              Volume        date
Date
1991-09-30 00:00:00-04:00   63201600  1991-09-30
1991-10-01 00:00:00-04:00  131376000  1991-10-01
1991-10-02 00:00:00-04:00   17987200  1991-10-02
1991-10-03 00:00:00-04:00  181003200  1991-10-03
1991-10-04 00:00:00-04:00   79374400  1991-10-04
...                              ...         ...
1992-09-23 00:00:00-04:00  123972800  1992-09-23
1992-09-24 00:00:00-04:00  125652800  1992-09-24
1992-09-25 00:00:00-04:00  137468800  1992-09-25
1992-09-28 00:00:00-04:00  149520000  1992-09-28
1992-09-29 00:00:00-04:00  157270400  1992-09-29

[254 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1992-09-30 00:00:00-04:00  0.401786  0.406250  0.397321  0.402902   0.330070
1992-10-01 00:00:00-04:00  0.399554  0.402902  0.395089  0.395089   0.323669
1992-10-02 00:00:00-04:00  0.397321  0.399554  0.383929  0.390625   0.320012
1992-10-05 00:00:00-04:00  0.386161  0.390625  0.370536  0.388393   0.318184
1992-10-06 00:00:00-04:00  0.390625  0.401786  0.381696  0.399554   0.327327
...                             ...       ...       ...       ...        ...
1993-09-23 00:00:00-04:00  0.227679  0.227679  0.218750  0.220982   0.182998
1993-09-24 00:00:00-04:00  0.223214  0.225446  0.218750  0.223214   0.184846
1993-09-27 00:00:00-04:00  0.223214  0.225446  0.216518  0.220982   0.182998
1993-09-28 00:00:00-04:00  0.220982  0.223214  0.216518  0.220982   0.182998
1993-09-29 00:00:00-04:00  0.216518  0.222098  0.212054  0.213170   0.176529

                              Volume        date
Date
1992-09-30 00:00:00-04:00  100049600  1992-09-30
1992-10-01 00:00:00-04:00  122729600  1992-10-01
1992-10-02 00:00:00-04:00  113545600  1992-10-02
1992-10-05 00:00:00-04:00  264958400  1992-10-05
1992-10-06 00:00:00-04:00  113444800  1992-10-06
...                              ...         ...
1993-09-23 00:00:00-04:00  130950400  1993-09-23
1993-09-24 00:00:00-04:00   76574400  1993-09-24
1993-09-27 00:00:00-04:00  113176000  1993-09-27
1993-09-28 00:00:00-04:00   94550400  1993-09-28
1993-09-29 00:00:00-04:00  236745600  1993-09-29

[253 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1993-09-30 00:00:00-04:00  0.214286  0.214286  0.205357  0.208705   0.172831
1993-10-01 00:00:00-04:00  0.203125  0.205357  0.200893  0.203125   0.168210
1993-10-04 00:00:00-04:00  0.202009  0.205357  0.196429  0.203125   0.168210
1993-10-05 00:00:00-04:00  0.205357  0.214286  0.205357  0.209821   0.173756
1993-10-06 00:00:00-04:00  0.212054  0.214286  0.208705  0.210938   0.174681
...                             ...       ...       ...       ...        ...
1994-09-23 00:00:00-04:00  0.302455  0.308036  0.302455  0.303013   0.254612
1994-09-26 00:00:00-04:00  0.302455  0.308036  0.300223  0.303013   0.254612
1994-09-27 00:00:00-04:00  0.301339  0.304688  0.297991  0.302455   0.254144
1994-09-28 00:00:00-04:00  0.303571  0.306920  0.300223  0.302455   0.254144
1994-09-29 00:00:00-04:00  0.301339  0.306920  0.297991  0.304688   0.256020

                              Volume        date
Date
1993-09-30 00:00:00-04:00  274904000  1993-09-30
1993-10-01 00:00:00-04:00  335988800  1993-10-01
1993-10-04 00:00:00-04:00  192841600  1993-10-04
1993-10-05 00:00:00-04:00  176310400  1993-10-05
1993-10-06 00:00:00-04:00  175280000  1993-10-06
...                              ...         ...
1994-09-23 00:00:00-04:00  132876800  1994-09-23
1994-09-26 00:00:00-04:00  141702400  1994-09-26
1994-09-27 00:00:00-04:00  109088000  1994-09-27
1994-09-28 00:00:00-04:00   81267200  1994-09-28
1994-09-29 00:00:00-04:00  109379200  1994-09-29

[253 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1994-09-30 00:00:00-04:00  0.304688  0.308036  0.300223  0.300781   0.252737
1994-10-03 00:00:00-04:00  0.300223  0.301339  0.290179  0.295759   0.248517
1994-10-04 00:00:00-04:00  0.296875  0.303571  0.294643  0.301339   0.253206
1994-10-05 00:00:00-04:00  0.300223  0.340402  0.297991  0.338170   0.284154
1994-10-06 00:00:00-04:00  0.333705  0.334682  0.321429  0.323661   0.271962
...                             ...       ...       ...       ...        ...
1995-09-22 00:00:00-04:00  0.329241  0.332589  0.324777  0.330915   0.281202
1995-09-25 00:00:00-04:00  0.341518  0.341657  0.333705  0.334961   0.284640
1995-09-26 00:00:00-04:00  0.337054  0.338170  0.331473  0.333705   0.283573
1995-09-27 00:00:00-04:00  0.334821  0.334821  0.310268  0.323661   0.275038
1995-09-28 00:00:00-04:00  0.325893  0.338170  0.325893  0.337054   0.286419

                              Volume        date
Date
1994-09-30 00:00:00-04:00   71702400  1994-09-30
1994-10-03 00:00:00-04:00  129595200  1994-10-03
1994-10-04 00:00:00-04:00  162388800  1994-10-04
1994-10-05 00:00:00-04:00  709800000  1994-10-05
1994-10-06 00:00:00-04:00  526915200  1994-10-06
...                              ...         ...
1995-09-22 00:00:00-04:00  398641600  1995-09-22
1995-09-25 00:00:00-04:00  315212800  1995-09-25
1995-09-26 00:00:00-04:00  250902400  1995-09-26
1995-09-27 00:00:00-04:00  451236800  1995-09-27
1995-09-28 00:00:00-04:00  331184000  1995-09-28

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1995-09-29 00:00:00-04:00  0.339286  0.341518  0.329241  0.332589   0.282624
1995-10-02 00:00:00-04:00  0.337054  0.343750  0.334821  0.335938   0.285470
1995-10-03 00:00:00-04:00  0.340402  0.343750  0.331473  0.335938   0.285470
1995-10-04 00:00:00-04:00  0.327009  0.330357  0.321429  0.324777   0.275986
1995-10-05 00:00:00-04:00  0.323661  0.327009  0.320313  0.325893   0.276934
...                             ...       ...       ...       ...        ...
1996-09-20 00:00:00-04:00  0.208705  0.209821  0.203125  0.204241   0.174099
1996-09-23 00:00:00-04:00  0.204241  0.204241  0.199777  0.199777   0.170294
1996-09-24 00:00:00-04:00  0.199777  0.204241  0.199777  0.200893   0.171245
1996-09-25 00:00:00-04:00  0.200893  0.202009  0.196429  0.199777   0.170294
1996-09-26 00:00:00-04:00  0.199777  0.200893  0.198661  0.199777   0.170294

                              Volume        date
Date
1995-09-29 00:00:00-04:00  283416000  1995-09-29
1995-10-02 00:00:00-04:00  392000000  1995-10-02
1995-10-03 00:00:00-04:00  289822400  1995-10-03
1995-10-04 00:00:00-04:00  266772800  1995-10-04
1995-10-05 00:00:00-04:00  244070400  1995-10-05
...                              ...         ...
1996-09-20 00:00:00-04:00  149150400  1996-09-20
1996-09-23 00:00:00-04:00   45763200  1996-09-23
1996-09-24 00:00:00-04:00  143785600  1996-09-24
1996-09-25 00:00:00-04:00  109043200  1996-09-25
1996-09-26 00:00:00-04:00  103286400  1996-09-26

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1996-09-27 00:00:00-04:00  0.198661  0.199777  0.197545  0.199219   0.169818
1996-09-30 00:00:00-04:00  0.197545  0.199777  0.197545  0.198103   0.168867
1996-10-01 00:00:00-04:00  0.196429  0.220982  0.196429  0.219866   0.187418
1996-10-02 00:00:00-04:00  0.210938  0.219866  0.206473  0.210938   0.179807
1996-10-03 00:00:00-04:00  0.210938  0.212054  0.199777  0.199777   0.170294
...                             ...       ...       ...       ...        ...
1997-09-19 00:00:00-04:00  0.198103  0.198103  0.194196  0.195871   0.166964
1997-09-22 00:00:00-04:00  0.197545  0.205915  0.196429  0.203683   0.173623
1997-09-23 00:00:00-04:00  0.198661  0.198661  0.193638  0.194196   0.165536
1997-09-24 00:00:00-04:00  0.193638  0.194196  0.190848  0.191964   0.163634
1997-09-25 00:00:00-04:00  0.190290  0.194196  0.187500  0.188616   0.160780

                              Volume        date
Date
1996-09-27 00:00:00-04:00   81569600  1996-09-27
1996-09-30 00:00:00-04:00   85444800  1996-09-30
1996-10-01 00:00:00-04:00  539246400  1996-10-01
1996-10-02 00:00:00-04:00  276819200  1996-10-02
1996-10-03 00:00:00-04:00  227718400  1996-10-03
...                              ...         ...
1997-09-19 00:00:00-04:00   94931200  1997-09-19
1997-09-22 00:00:00-04:00  200368000  1997-09-22
1997-09-23 00:00:00-04:00  200536000  1997-09-23
1997-09-24 00:00:00-04:00  222432000  1997-09-24
1997-09-25 00:00:00-04:00  223384000  1997-09-25

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1997-09-26 00:00:00-04:00  0.191964  0.195871  0.188616  0.190290   0.162207
1997-09-29 00:00:00-04:00  0.193638  0.198661  0.192522  0.196987   0.167915
1997-09-30 00:00:00-04:00  0.196429  0.199219  0.193638  0.193638   0.165061
1997-10-01 00:00:00-04:00  0.193638  0.194196  0.190848  0.192243   0.163871
1997-10-02 00:00:00-04:00  0.191406  0.196429  0.190848  0.195871   0.166964
...                             ...       ...       ...       ...        ...
1998-09-18 00:00:00-04:00  0.321987  0.328125  0.317522  0.328125   0.279700
1998-09-21 00:00:00-04:00  0.318638  0.329799  0.315290  0.329799   0.281126
1998-09-22 00:00:00-04:00  0.331473  0.335938  0.324777  0.330357   0.281602
1998-09-23 00:00:00-04:00  0.332589  0.342634  0.326451  0.342076   0.291592
1998-09-24 00:00:00-04:00  0.338170  0.353237  0.337054  0.343750   0.293019

                              Volume        date
Date
1997-09-26 00:00:00-04:00  208320000  1997-09-26
1997-09-29 00:00:00-04:00  167238400  1997-09-29
1997-09-30 00:00:00-04:00  140571200  1997-09-30
1997-10-01 00:00:00-04:00  130468800  1997-10-01
1997-10-02 00:00:00-04:00  135408000  1997-10-02
...                              ...         ...
1998-09-18 00:00:00-04:00  305076800  1998-09-18
1998-09-21 00:00:00-04:00  295870400  1998-09-21
1998-09-22 00:00:00-04:00  257936000  1998-09-22
1998-09-23 00:00:00-04:00  287918400  1998-09-23
1998-09-24 00:00:00-04:00  482843200  1998-09-24

[251 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1998-09-25 00:00:00-04:00  0.340960  0.349888  0.335938  0.345982   0.294921
1998-09-28 00:00:00-04:00  0.354911  0.358817  0.339286  0.348772   0.297300
1998-09-29 00:00:00-04:00  0.348772  0.357143  0.340402  0.352679   0.300630
1998-09-30 00:00:00-04:00  0.345982  0.350446  0.339286  0.340402   0.290165
1998-10-01 00:00:00-04:00  0.328125  0.339286  0.315848  0.318638   0.271613
...                             ...       ...       ...       ...        ...
1999-09-20 00:00:00-04:00  0.687500  0.715402  0.686384  0.705915   0.601735
1999-09-21 00:00:00-04:00  0.653460  0.654018  0.616071  0.618304   0.527053
1999-09-22 00:00:00-04:00  0.622768  0.639509  0.616211  0.627790   0.535140
1999-09-23 00:00:00-04:00  0.635045  0.636161  0.562500  0.565290   0.481863
1999-09-24 00:00:00-04:00  0.565848  0.598354  0.562500  0.579799   0.494231

                               Volume        date
Date
1998-09-25 00:00:00-04:00   228289600  1998-09-25
1998-09-28 00:00:00-04:00   405417600  1998-09-28
1998-09-29 00:00:00-04:00   305132800  1998-09-29
1998-09-30 00:00:00-04:00   167182400  1998-09-30
1998-10-01 00:00:00-04:00   370216000  1998-10-01
...                               ...         ...
1999-09-20 00:00:00-04:00   456668800  1999-09-20
1999-09-21 00:00:00-04:00  3357558400  1999-09-21
1999-09-22 00:00:00-04:00  1123169600  1999-09-22
1999-09-23 00:00:00-04:00  1143755200  1999-09-23
1999-09-24 00:00:00-04:00  1179875200  1999-09-24

[252 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
1999-09-27 00:00:00-04:00  0.592634  0.595982  0.546317  0.547433   0.466642
1999-09-28 00:00:00-04:00  0.549107  0.553571  0.512835  0.532366   0.453798
1999-09-29 00:00:00-04:00  0.537946  0.546875  0.517857  0.527344   0.449517
1999-09-30 00:00:00-04:00  0.531808  0.573103  0.529018  0.565290   0.481863
1999-10-01 00:00:00-04:00  0.554688  0.557478  0.531250  0.551060   0.469733
...                             ...       ...       ...       ...        ...
2000-09-25 00:00:00-04:00  0.941964  0.991071  0.929688  0.955357   0.814364
2000-09-26 00:00:00-04:00  0.952009  0.977679  0.917411  0.918527   0.782969
2000-09-27 00:00:00-04:00  0.924107  0.941964  0.861607  0.873884   0.744914
2000-09-28 00:00:00-04:00  0.880580  0.960938  0.859375  0.955357   0.814364
2000-09-29 00:00:00-04:00  0.503348  0.517857  0.453125  0.459821   0.391960

                               Volume        date
Date
1999-09-27 00:00:00-04:00   948192000  1999-09-27
1999-09-28 00:00:00-04:00  1414963200  1999-09-28
1999-09-29 00:00:00-04:00   657283200  1999-09-29
1999-09-30 00:00:00-04:00   908084800  1999-09-30
1999-10-01 00:00:00-04:00   614790400  1999-10-01
...                               ...         ...
2000-09-25 00:00:00-04:00   435551200  2000-09-25
2000-09-26 00:00:00-04:00   290936800  2000-09-26
2000-09-27 00:00:00-04:00   402259200  2000-09-27
2000-09-28 00:00:00-04:00   979585600  2000-09-28
2000-09-29 00:00:00-04:00  7421640800  2000-09-29

[257 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
2000-10-02 00:00:00-04:00  0.476563  0.477679  0.419643  0.433036   0.369128
2000-10-03 00:00:00-04:00  0.445313  0.446429  0.396205  0.398438   0.339636
2000-10-04 00:00:00-04:00  0.399554  0.424107  0.390625  0.421875   0.359614
2000-10-05 00:00:00-04:00  0.419643  0.437500  0.392857  0.393973   0.335830
2000-10-06 00:00:00-04:00  0.405134  0.409598  0.375000  0.396205   0.337732
...                             ...       ...       ...       ...        ...
2001-09-24 00:00:00-04:00  0.287679  0.300714  0.284821  0.293750   0.250398
2001-09-25 00:00:00-04:00  0.288214  0.289643  0.274107  0.277500   0.236546
2001-09-26 00:00:00-04:00  0.282321  0.283750  0.266607  0.270536   0.230610
2001-09-27 00:00:00-04:00  0.272321  0.281250  0.271429  0.276964   0.236089
2001-09-28 00:00:00-04:00  0.280536  0.284107  0.274821  0.276964   0.236089

                               Volume        date
Date
2000-10-02 00:00:00-04:00  2424788800  2000-10-02
2000-10-03 00:00:00-04:00  2038120000  2000-10-03
2000-10-04 00:00:00-04:00  1466024000  2000-10-04
2000-10-05 00:00:00-04:00   873006400  2000-10-05
2000-10-06 00:00:00-04:00   612656800  2000-10-06
...                               ...         ...
2001-09-24 00:00:00-04:00   294537600  2001-09-24
2001-09-25 00:00:00-04:00   374404800  2001-09-25
2001-09-26 00:00:00-04:00   493796800  2001-09-26
2001-09-27 00:00:00-04:00   322240800  2001-09-27
2001-09-28 00:00:00-04:00   365108800  2001-09-28

[247 rows x 7 columns]
                               Open      High       Low     Close  Adj Close  \
Date
2001-10-01 00:00:00-04:00  0.276607  0.285536  0.271964  0.277500   0.236546
2001-10-02 00:00:00-04:00  0.275536  0.282679  0.265714  0.268750   0.229087
2001-10-03 00:00:00-04:00  0.266964  0.274286  0.264821  0.267500   0.228022
2001-10-04 00:00:00-04:00  0.274107  0.290179  0.267679  0.283571   0.241721
2001-10-05 00:00:00-04:00  0.275000  0.288393  0.267679  0.288214   0.245679
...                             ...       ...       ...       ...        ...
2002-09-23 00:00:00-04:00  0.263571  0.267143  0.258036  0.265179   0.226043
2002-09-24 00:00:00-04:00  0.257143  0.264643  0.257143  0.261429   0.222847
2002-09-25 00:00:00-04:00  0.262321  0.270893  0.261607  0.266607   0.227261
2002-09-26 00:00:00-04:00  0.269643  0.271250  0.259821  0.262500   0.223760
2002-09-27 00:00:00-04:00  0.258750  0.265179  0.258571  0.262857   0.224064

                              Volume        date
Date
2001-10-01 00:00:00-04:00  208208000  2001-10-01
2001-10-02 00:00:00-04:00  235883200  2001-10-02
2001-10-03 00:00:00-04:00  683043200  2001-10-03
2001-10-04 00:00:00-04:00  401122400  2001-10-04
2001-10-05 00:00:00-04:00  342686400  2001-10-05
...                              ...         ...

In [4]:
sorted(a.income_statements.keys())

['acceptedDate',
 'calendarYear',
 'cik',
 'costAndExpenses',
 'costOfRevenue',
 'date',
 'depreciationAndAmortization',
 'ebitda',
 'ebitdaratio',
 'eps',
 'epsdiluted',
 'fillingDate',
 'finalLink',
 'generalAndAdministrativeExpenses',
 'grossProfit',
 'grossProfitRatio',
 'incomeBeforeTax',
 'incomeBeforeTaxRatio',
 'incomeTaxExpense',
 'interestExpense',
 'interestIncome',
 'link',
 'netIncome',
 'netIncomeRatio',
 'operatingExpenses',
 'operatingIncome',
 'operatingIncomeRatio',
 'otherExpenses',
 'outstandingShares_calc',
 'period',
 'reportedCurrency',
 'researchAndDevelopmentExpenses',
 'revenue',
 'sellingAndMarketingExpenses',
 'sellingGeneralAndAdministrativeExpenses',
 'symbol',
 'totalOtherIncomeExpensesNet',
 'weightedAverageShsOut',
 'weightedAverageShsOutDil']

In [9]:
(sorted(a.balance_sheets.keys()))

['acceptedDate',
 'accountPayables',
 'accumulatedOtherComprehensiveIncomeLoss',
 'calendarYear',
 'capitalLeaseObligations',
 'cashAndCashEquivalents',
 'cashAndShortTermInvestments',
 'cik',
 'commonStock',
 'date',
 'deferredRevenue',
 'deferredRevenueNonCurrent',
 'deferredTaxLiabilitiesNonCurrent',
 'fillingDate',
 'finalLink',
 'goodwill',
 'goodwillAndIntangibleAssets',
 'intangibleAssets',
 'inventory',
 'link',
 'longTermDebt',
 'longTermInvestments',
 'minorityInterest',
 'netDebt',
 'netReceivables',
 'otherAssets',
 'otherCurrentAssets',
 'otherCurrentLiabilities',
 'otherLiabilities',
 'otherNonCurrentAssets',
 'otherNonCurrentLiabilities',
 'othertotalStockholdersEquity',
 'period',
 'preferredStock',
 'propertyPlantEquipmentNet',
 'reportedCurrency',
 'retainedEarnings',
 'shortTermDebt',
 'shortTermInvestments',
 'symbol',
 'taxAssets',
 'taxPayables',
 'totalAssets',
 'totalCurrentAssets',
 'totalCurrentLiabilities',
 'totalDebt',
 'totalEquity',
 'totalInvestments',
 'totalLiabilities',
 'totalLiabilitiesAndStockholdersEquity',
 'totalLiabilitiesAndTotalEquity',
 'totalNonCurrentAssets',
 'totalNonCurrentLiabilities',
 'totalStockholdersEquity']

In [7]:
(sorted(a.cash_flow_statements.keys()))

['acceptedDate',
 'accountsPayables',
 'accountsReceivables',
 'acquisitionsNet',
 'calendarYear',
 'capitalExpenditure',
 'cashAtBeginningOfPeriod',
 'cashAtEndOfPeriod',
 'changeInWorkingCapital',
 'cik',
 'commonStockIssued',
 'commonStockRepurchased',
 'date',
 'debtRepayment',
 'deferredIncomeTax',
 'depreciationAndAmortization',
 'dividendsPaid',
 'effectOfForexChangesOnCash',
 'fillingDate',
 'finalLink',
 'freeCashFlow',
 'inventory',
 'investmentsInPropertyPlantAndEquipment',
 'link',
 'netCashProvidedByOperatingActivities',
 'netCashUsedForInvestingActivites',
 'netCashUsedProvidedByFinancingActivities',
 'netChangeInCash',
 'netIncome',
 'operatingCashFlow',
 'otherFinancingActivites',
 'otherInvestingActivites',
 'otherNonCashItems',
 'otherWorkingCapital',
 'period',
 'purchasesOfInvestments',
 'reportedCurrency',
 'salesMaturitiesOfInvestments',
 'stockBasedCompensation',
 'symbol']

In [5]:
a.calculated_ratios

,eps_calc,eps_reported,eps_diluted,PE_high,PE_low,PE_avg_close,bookValuePerShare,dividendPayoutRatio,dividend_yield_low,dividend_yield_high,...,currentRatio,quickRatio,cashRatio,totalAssetTurnover,inventoryToSalesRatio,inventoryTurnoverRatio,inventoryTurnoverInDays,accountsReceivableToSalesRatio,receivablesTurnover,receivablesTurnoverInDays
index,,,,,,,,,,,,,,,,,,,,,
AAPL-FY-1989,inf,0.031607,0.031607,NaN,NaN,NaN,0.103433,0.110793,NaN,NaN,...,2.562716,2.031721,0.489557,1.925726,0.089970,11.114851,32.838948,0.150038,6.664985,54.763815
AAPL-FY-1990,inf,0.033750,0.033750,13.326726,7.209007,10.491598,0.102821,0.113287,0.008501,0.015715,...,2.340117,1.993963,0.364849,1.867930,0.063957,15.635443,23.344398,0.137072,7.295446,50.031214
AAPL-FY-1991,inf,0.023036,0.023036,28.391126,9.399114,18.754767,0.131368,0.182376,0.006424,0.019404,...,2.352806,1.800920,0.496344,1.805816,0.106470,9.392288,38.861669,0.143799,6.954145,52.486685
AAPL-FY-1992,inf,0.038750,0.038750,16.129032,9.562219,12.484125,0.159807,0.107843,0.006686,0.011278,...,2.496247,2.089302,0.349772,1.677794,0.081860,12.215997,29.878854,0.153418,6.518120,55.997742
AAPL-FY-1993,inf,0.006607,0.006607,88.177535,31.757379,63.850729,0.154601,0.642032,0.007281,0.020217,...,1.724873,1.125875,0.268925,1.542522,0.188868,5.294703,68.936818,0.173236,5.772487,63.230977
AAPL-FY-1994,1.041114,0.023304,0.023304,14.750687,8.428982,12.099007,0.179060,0.182386,0.012365,0.021638,...,2.302340,1.742534,0.618981,1.732828,0.118453,8.442173,43.235315,0.172096,5.810709,62.815049
AAPL-FY-1995,1.065327,0.030804,0.030804,14.528795,9.420173,11.926308,0.210760,0.136792,0.009415,0.014521,...,2.246882,1.483441,0.325161,1.775317,0.160459,6.232113,58.567619,0.174562,5.728638,63.714970
AAPL-FY-1996,-1.858770,-0.058839,-0.058839,-6.449192,-2.427930,-4.267617,0.148395,-0.017157,0.002660,0.007066,...,2.254119,1.923615,0.774838,1.833147,0.067324,14.853474,24.573375,0.152141,6.572861,55.531374
AAPL-FY-1997,-2.098394,-0.074018,-0.074018,-3.566038,-1.537991,-2.372018,0.084997,-0.000000,0.000000,0.000000,...,1.883388,1.643014,0.676568,1.672809,0.061714,16.203661,22.525773,0.146166,6.841546,53.350515
AAPL-FY-1998,0.488152,0.020893,0.018750,18.696453,5.448667,10.983501,0.111024,0.000000,0.000000,0.000000,...,2.432895,2.381579,0.974342,1.385171,0.013129,76.166667,4.792123,0.160747,6.220942,58.672782
AAPL-FY-1999,0.445515,0.037500,0.032232,19.077387,6.785707,10.488030,0.193677,0.000000,0.000000,0.000000,...,2.766301,2.753389,0.856036,1.188529,0.003261,306.700000,1.190088,0.111021,9.007342,40.522498
AAPL-FY-2000,0.523302,0.043214,0.038929,31.069421,10.485607,21.394915,0.225801,0.000000,0.000000,0.000000,...,2.807553,2.790481,0.616141,1.173453,0.004134,241.909091,1.508831,0.119379,8.376705,43.573218
AAPL-FY-2001,-0.014767,-0.001250,-0.001250,-387.428808,-194.643199,-285.248661,0.196000,-0.000000,0.000000,0.000000,...,3.388011,3.380764,1.521739,0.890716,0.002051,487.545455,0.748648,0.086892,11.508584,31.715458
AAPL-FY-2002,0.035597,0.003214,0.003214,145.401683,76.673614,112.635525,0.202482,0.000000,0.000000,0.000000,...,3.249698,3.222557,1.358263,0.911718,0.007837,127.600000,2.860502,0.098398,10.162832,35.915186
AAPL-FY-2003,0.035826,0.003393,0.003393,122.731805,66.944593,88.409986,0.207661,0.000000,0.000000,0.000000,...,2.497667,2.473908,1.440815,0.910785,0.009022,110.839286,3.293056,0.153053,6.533684,55.864347
AAPL-FY-2004,0.109785,0.013214,0.012679,52.528152,26.014076,36.102889,0.243023,0.000000,0.000000,0.000000,...,2.632463,2.594776,1.107836,1.028447,0.012200,81.970297,4.452832,0.126827,7.884762,46.291823
AAPL-FY-2005,0.379154,0.058929,0.055714,32.611888,11.160533,22.493138,0.329561,0.000000,0.000000,0.000000,...,2.956372,2.909013,1.002009,1.206043,0.011844,84.430303,4.323092,0.094178,10.618140,34.375135
AAPL-FY-2006,0.456716,0.084286,0.081071,36.610043,20.283831,27.839998,0.423083,0.000000,0.000000,0.000000,...,2.242157,2.200433,0.987792,1.122639,0.013979,71.537037,5.102252,0.147295,6.789104,53.762620
AAPL-FY-2007,0.651267,0.144286,0.140357,38.366260,17.970260,25.728295,0.599761,0.000000,0.000000,0.000000,...,2.361114,2.323906,1.005700,0.947094,0.014413,69.381503,5.260768,0.167833,5.958302,61.259060
AAPL-FY-2008,0.673540,0.195714,0.191429,37.036548,21.065724,29.848104,0.851441,0.000000,0.000000,0.000000,...,2.461680,2.425561,0.842677,0.820757,0.015672,63.809430,5.720158,0.144832,6.904549,52.863697
AAPL-FY-2009,0.694762,0.228214,0.224643,29.561854,12.237886,18.772776,1.113543,0.000000,0.000000,0.000000,...,1.880770,1.857172,0.272949,0.678483,0.012453,80.301099,4.545392,0.138408,7.225035,50.518789
AAPL-FY-2010,1.313555,0.550357,0.541071,19.048026,11.726154,14.886097,1.876979,0.000000,0.000000,0.000000,...,2.011292,1.960573,0.543432,0.867550,0.016113,62.059943,5.881411,0.152150,6.572451,55.534841
AAPL-FY-2011,1.944490,1.001786,0.988571,15.075219,9.803919,12.190256,2.960876,0.000000,0.000000,0.000000,...,1.608438,1.580694,0.350912,0.930206,0.007169,139.496134,2.616560,0.108241,9.238628,39.508032
AAPL-FY-2012,2.541286,1.594286,1.576786,15.794575,7.935483,11.798981,4.515864,0.059617,0.003775,0.007513,...,1.495849,1.475326,0.278813,0.888927,0.005054,197.860936,1.844730,0.119432,8.372994,43.592532
AAPL-FY-2013,1.873963,1.429643,1.419643,16.906069,9.620283,12.098789,4.769041,0.285228,0.016871,0.029649,...,1.678639,1.638234,0.326607,0.825652,0.010321,96.887755,3.767246,0.120771,8.280122,44.081476
AAPL-FY-2014,1.694763,1.622500,1.612500,15.984591,10.442659,12.885103,4.580739,0.281600,0.017617,0.026966,...,1.080113,1.046842,0.218194,0.788457,0.011548,86.591663,4.215186,0.148905,6.715713,54.350146
AAPL-FY-2015,1.947549,2.320000,2.305000,14.497844,9.913793,12.780147,5.186043,0.216522,0.014935,0.021841,...,1.108771,1.079630,0.262002,0.804585,0.010051,99.495530,3.668507,0.129829,7.702435,47.387609
AAPL-FY-2016,1.461937,2.087500,2.077500,14.828742,10.714970,12.547596,5.859868,0.265940,0.017934,0.024819,...,1.352669,1.325684,0.259271,0.670340,0.009887,101.143996,3.608716,0.135871,7.359944,49.592768
AAPL-FY-2017,1.348064,2.317500,2.302500,17.792881,11.227616,14.734725,6.424974,0.264090,0.014842,0.023521,...,1.276063,1.227905,0.201252,0.610771,0.021179,47.216066,7.730420,0.155618,6.425980,56.800671
AAPL-FY-2018,1.480834,3.002500,2.977500,19.123230,12.509576,15.182000,5.404056,0.230334,0.012045,0.018413,...,1.123843,1.089992,0.221733,0.726215,0.014895,67.137260,5.436623,0.184473,5.420859,67.332499
AAPL-FY-2019,1.223181,2.992500,2.972500,19.504595,11.862991,16.041420,4.900560,0.255520,0.013100,0.021539,...,1.540126,1.501286,0.462022,0.768572,0.015782,63.364345,5.760337,0.176051,5.680159,64.258765
AAPL-FY-2020,1.130605,3.310000,3.280000,41.685799,16.058157,24.377658,3.767085,0.245267,0.005884,0.015274,...,1.363604,1.325072,0.360710,0.847562,0.014793,67.597882,5.399577,0.136404,7.331152,49.787534
AAPL-FY-2021,1.650484,5.670000,5.610000,27.735449,18.927690,23.107710,3.778203,0.152799,0.005509,0.008073,...,1.074553,1.022115,0.278449,1.042208,0.017987,55.595289,6.565305,0.140797,7.102415,51.390969
AAPL-FY-2022,1.539006,6.150000,6.110000,29.746342,20.982113,25.791553,3.122479,0.148703,0.004999,0.007087,...,0.879356,0.847235,0.153563,1.117852,0.012543,79.726648,4.578143,0.154521,6.471608,56.400205

In [5]:
a.cash_flow_statements['dividendsPaid']

index
AAPL-FY-1989      -50300000
AAPL-FY-1990      -53800000
AAPL-FY-1991      -56500000
AAPL-FY-1992      -57200000
AAPL-FY-1993      -55600000
AAPL-FY-1994      -56572000
AAPL-FY-1995      -58000000
AAPL-FY-1996      -14000000
AAPL-FY-1997              0
AAPL-FY-1998              0
AAPL-FY-1999              0
AAPL-FY-2000              0
AAPL-FY-2001              0
AAPL-FY-2002              0
AAPL-FY-2003              0
AAPL-FY-2004              0
AAPL-FY-2005              0
AAPL-FY-2006              0
AAPL-FY-2007              0
AAPL-FY-2008              0
AAPL-FY-2009              0
AAPL-FY-2010              0
AAPL-FY-2011              0
AAPL-FY-2012    -2488000000
AAPL-FY-2013   -10564000000
AAPL-FY-2014   -11126000000
AAPL-FY-2015   -11561000000
AAPL-FY-2016   -12150000000
AAPL-FY-2017   -12769000000
AAPL-FY-2018   -13712000000
AAPL-FY-2019   -14119000000
AAPL-FY-2020   -14081000000
AAPL-FY-2021   -14467000000
AAPL-FY-2022   -14841000000
Name: dividendsPaid, dtype: int64

In [ ]:
sorted(a.cash_flow_statements.columns)

In [ ]:
a.ratio_errors.sum()

In [ ]:
a.income_statements['eps']
x = a.income_statements.index[-10:]
y = a.income_statements['eps'][-10:]
plt.plot(x,y)

In [ ]:
a.calculated_ratios['operatingProfitMargin'].iloc[0]

In [ ]:
import datetime as dt

In [ ]:
dt.date(*[int(i) for i in a.balance_sheets['date'].iloc[0].split('-')])

In [ ]:
dt.date(1985, 9, 30) < dt.date(1986, 9, 30)

In [ ]:
"1985-09-30 00:00:00-04:00".split()[0]

In [ ]:
pd.Series([i for i in range(10)]).iloc[0]

In [ ]:
a.stock_price_data['date'] = a.stock_price_data.index.date

In [ ]:
y1 = a.stock_price_data['date'][5]
y2 = a.stock_price_data['date'][12]
a.stock_price_data[(a.stock_price_data['date'] > y1) & (a.stock_price_data['date']< y2)]

In [3]:
data = [[i for i in range(4)] for j in range(4)]

In [7]:
a.stock_price_data.index == a.balance_sheets.index

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [6]:
len(a.stock_price_data), len(a.balance_sheets)

(34, 34)

In [3]:
import numpy as np

In [8]:
index = sorted(pd.Series(list(set(a.balance_sheets['date']) & set(a.income_statements['date']))))

In [12]:
len(a.balance_sheets[a.balance_sheets['date'] == index])

38